@{
    ViewData["Title"] = "Gallery";
}





<link rel="stylesheet" type="text/css" href="~/css/portfolioCards.css" />




        <h1>Nissan Fairlady 350z</h1>
        <p>Portfolio of Roberts Customs collection of Cars and Parts.</p>

        <!-- Portfolio Gallery Grid -->
        <div class="row">
            <div class="column">
                <div class="content">
                    <img src="~/portfolioImages/350z.jpg" alt="350z" style="width:100%;height:50%"  >
                    <h2>History</h2>
                    <p>Imported from Japan in 2018, this is the 2005 Nissan 350z Fairlady St. A sporty version of the fairlady.</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="~/portfolioImages/350z2.jpg" alt="350z2" style="width:100%;height:50%">
                    <h2>Specifications</h2>
                    <p>3.5 Litre V6 Naturally Aspirated. 280 horse-power rear wheel drive. 
                    Being an St spec means it gets sporty leather electic seats, big brakes, gps and more power.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="~/portfolioImages/350zCU.jpg" alt="350zCU" style="width:100%;height:50%">
                    <h2>Problems</h2>
                    <p>It was imported cheaply as it had a airbag light on and a broken front bumper. The bumper and airbag light were an easy fix.</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="~/portfolioImages/350zCU2.jpg" alt="350zCU2" style="width:100%;height:50%">
                    <h2>Rating</h2>
                    <p>This car is great fun for an enthusiast. It is expensive to fill up, noisy and hard to drive. Amazing fun! </p>
                </div>
            </div>
            <!-- END GRID -->
        </div>


  















<div>
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Gallery2")">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Gallery2")">&raquo;</a>
        </li>
    </ul>
</div>



